/*
 *Reset Styles
 */

@import 'normalize.css';
/* Change all elements to use border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
  * Base Styles
  */

/* Layout Styles */

.flip_card_container {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  display: inline-block;
}

.flip_card_sub_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip_card_container:hover .flip_card_sub_container {
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip_card_back {
  background-color: rgb(226, 87, 6);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* CRISTIAN */

.contenedorIndex {
  font-family: myFirstFont;
}

/* Anyelith */

.eventosSubcontainer {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  
.tituloEventos {
  text-align: center;
  font-size: 24px;
}

.filaEventos {
  width: 100%;
  height: 33%;
  border: 1px solid black;
  background-color: seagreen;
}

/* 

*/

@font-face {
  font-family: myFirstFont;
  src: url(../css/sf_comic_script/SF\ Comic\ Script.ttf);
}

body {
  background-image: url(../Imagenes/fondo3.png);
  background-size: cover;
}

.contenedorIndex {
  width: 85%;
  position: fixed;
  top: 18%;
  height: 100vh;
  background-color: #5A7684;
}

.headerIndex {
  height: 5vh;
  position: fixed;
  font-family: myFirstFont;
  text-decoration: none;
}

.menuIndex a {
  text-decoration: none;
  font-size: 24pX;
  font-family: myFirstFont;
}

.menuIndex {
  float: left;
  display: block;
  position: relative;
  top: -35px;
}

.logo {
  width: 60px;
  height: 60px;
  position: relative;
  top: 12px;
}

.imagenDeTexto {
  width: 220px;
  height: 120px;
}

/*
  * Module Styles
  */

/*
  * Theme Styles
  * 
  *


  /*----------Estilo NAV Dilan Bocanegra-------*/

nav {
  overflow: hidden;
  background: #5A7684;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  height: 70px;
}

nav ul li {
  float: left;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

nav ul li a {
  padding: 1.6rem;
  color: white;
  display: block;
  text-decoration: none;
  /*Transiciones*/
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

nav ul li a:hover {
  background: #4e5c63 ;
}

nav ul li img {
  width: 100px;
  height: 100px;
  margin-top: -14px;
}

nav ul li input {
  margin-top: 1.6rem;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  text-align: center;
}
.contenedorModal{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 600px;
  background-color: #455b66;
}
.contenedorsubModal {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 700px;
  height: 600px;
  background-color: #455b66;
}

.modalDetalles {
  text-align: center;
  width: 40%;
  height: 400px;
  background-color: #5a7684;
}

.modalFoto {
  -webkit-box-shadow: -15px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -15px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -15px 10px 5px 0px rgba(0,0,0,0.75);;
  text-align: center;
  width: 40%;
  height: 350px;
  background-color: rgb(182, 131, 38);
}

.parrafoModal{
  padding: 10px 30px 20px 30px;
}

.precioModal{
  margin-top: 10px;
  display: block;
  font-size: 20px;
  font-weight: bolder;
}

.botonModal{
  background-color: greenyellow;
  margin-top: 20px;
  font-size: 15px;
  padding: 5px;
  width: 150px;
}
/* estilo del icono de cierre del modal */

.footerIndex {
  background-color: white;
  opacity: 0.4;
  position: relative;
  padding: 10px;

}
/*
.navegador{
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

}*/

/*----------Estilo NAV Dilan Bocanegra-------*/